<!-- Author Box -->
{% if page.author %}
{% if site.authorbox == "enabled" %}
<div class="d-flex authorbox align-items-center">
    <div class="col-md-2 mr-4 text-center">
        {% if author.avatar %}
        <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
        {% else %}
        <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
        {% endif %}
    </div>
    <div class="col text-center"> 
      <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Buy me a coffee!', '#de0434', 'S6S650JEK');kofiwidget2.draw();</script>
      <BR>
      <a href="https://paypal.me/tasmotatemplates"><img src="https://img.shields.io/static/v1?logo=paypal&label=&message=Donate via PayPal&color=slategrey"></a>           
    </div>
    <div class="col-md-10" > 
      {% if author.twitter == "blak" %}<a target="_blank" class="text-dark h4" href="/about">About {{ author.display_name }}</a>{% endif %} {% if author.twitter %}<a target="_blank" href="{{ author.twitter }}" class="btn-sm"><i class="fab fa-twitter"></i></a>{% endif %}   {% if author.instagram %}<a target="_blank" href="{{ author.instagram }}" class="btn-sm"><i class="fab fa-instagram"></i></a>{% endif %}      
        <span class="author-description d-block mt-2">{{ author.description }}</span>
      </div>
</div>
{% endif %}
{% endif %}